# Core ML/DL framework for object detection.
# This includes torch, torchvision, numpy, pandas, matplotlib, etc.
ultralytics

# For hyperparameter tuning in `fine_tune.py`
ray[tune]

# For data splitting in `supervisely_to_yolo.py`
scikit-learn
